.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    background-position: right;
    background-size: cover;
}
.header__wrapper{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
}
.logo{
    width: 18rem;
    height: 175px;
}
.wand{
    border: 1px solid var(--olive-color);
    margin: 0 20px;
}

.header__contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact__item{
    color: var(--gray-color);
    font-size: clamp(17px, 1.3vw, 20px);
    text-align: center;
}

.header__link{
    color: var(--gray-color);
    text-decoration: none;
    padding: 5px;
    transition: all .4s;
    border-radius: 8px;
}
.header__link:hover{
    color: var(--white-color);
    background-color: var(--olive-color);
}


.header__info{
    max-width: 600px;
    text-align: justify;
    /*display: flex;*/
    align-items: center;
    padding: 5px;
    font-size: clamp(18px, 2vw,28px);
    line-height: 50px;
    word-break: break-word;
    color: var(--gray-color)
}
.name{
    color: var(--olive-color);
    font-size: 35px;
}
.btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--olive-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s;
}
.btn__icon{
    fill: var(--olive-color);
    transition: all .4s;
}
.btn:hover{
    border-color: var(--gray-color);
}
.btn:hover .btn__icon{
    fill: var(--gray-color);
}

@media (max-width: 910px) {
    .header__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wand{
        width: 90%;
    }
    .header__info{
        padding: 20px;
        max-width: 100%;
        word-break: break-word;
    }
}
@media (max-width: 555px) {
    .header__contact{
        flex-direction: column;
    }
}