@import "media/fonts/fonts.css";


:root{
    --white-color: #FFFDDF;
    --main-color: #FFFCD4;
    --gray-color: #6c6c67;
    --olive-color: #6c662e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body{
    background-color: var(--white-color);
    font-family: Raleway;
}