@import "media/fonts/fonts.css";

:root{
    --white-color: #FFFDDF;
    --main-color: #FFFCD4;
    --gray-color: #6c6c67;
    --WhitlyGray-color: #d88d8d;
    --olive-color: #6c662e;
    --background-color: #f4e5e5;
    --red-color:#ad4c59;
    --Whitlyred-color: #f4bac3;
    --text-color: #221e1e;
    --hover-color:#c31e1e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body{
    background-color: var(--background-color);
    font-family: Raleway;
}